/* Nav Background  */
body,
html {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Nav Bar Styling */

.underline-active {
  text-decoration: underline;
  text-underline-offset: 8px; /* Adjust as needed */
}

.toggline-active {
  background-color: black;
  color: white !important;
}

.input-custom {
  border-radius: 0;
  border: 1px solid #000;
  outline: none; /* Removes default browser outline */
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input-custom:focus {
  outline: none;
  box-shadow: none;
  border-color: #000;
}

.search-box {
  background-color: rgb(249 250 251) !important;
}

/* Disable blue highlight on dropdown item click */
.dropdown-item:active,
.dropdown-item:focus {
  background-color: transparent !important;
  color: inherit !important;
}

/* Cart Item Product Name Font Size Responsiveness */
.fs-cartitem {
  font-size: 0.75rem !important; /* Default size for extra small screens */
}

/* Small screens (≥576px) */
@media (min-width: 576px) {
  .fs-cartitem {
    font-size: 1rem !important;
  }
}

/* Medium screens (≥768px) */
@media (min-width: 768px) {
  .fs-cartitem {
    font-size: 1.25rem !important;
  }
}

/* Large screens (≥992px) */
@media (min-width: 992px) {
  .fs-cartitem {
    font-size: 1.3rem !important;
  }
}

/* Radio Color Changed  */
input[type="radio"] {
  accent-color: green;
  transform: scale(1.2); /* Increase size */
}

/* Order Item Product Name Font Size Responsiveness */
.fs-orderitem {
  font-size: 0.85rem !important; /* Default size for extra small screens */
}

/* Small screens (≥576px) */
@media (min-width: 576px) {
  .fs-orderitem {
    font-size: 0.9rem !important;
  }
}

/* Medium screens (≥768px) */
@media (min-width: 768px) {
  .fs-orderitem {
    font-size: 0.95rem !important;
  }
}

/* Large screens (≥992px) */
@media (min-width: 992px) {
  .fs-orderitem {
    font-size: 1rem !important;
  }
}

/* Image Zoom Out Effect */
.product-card {
  overflow: hidden;
}

.product-img {
  transition: transform 0.3s ease-in-out;
}

.product-img:hover {
  transform: scale(1.1); /* Zoom-in effect */
  cursor: pointer;
}

/* Toast STYLING (≥992px) */
.toast {
  transform: translateX(100%); /* Initially off-screen to the right */
  transition: transform 1s ease, opacity 1s ease;
}

.toast.show {
  transform: translateX(0); /* Slide in from the right */
}

.toast.fade-out {
  opacity: 0;
  transform: translateX(100%); /* Slide back to the right */
}
