/* Nav Background  */
body,
html {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Nav Bar Styling */

.underline-active {
  text-decoration: underline;
  text-underline-offset: 8px; /* Adjust as needed */
}

.toggline-active {
  background-color: black;
  color: white !important;
}

.input-custom {
  border-radius: 0;
  border: 1px solid #000;
  outline: none; /* Removes default browser outline */
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input-custom:focus {
  outline: none;
  box-shadow: none;
  border-color: #000;
}
